@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: rgb(1, 1, 41);
    color: white;
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;


}
nav ul{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
   list-style-type: none;
   /* background-color: rgb(1, 1, 45); */
   background-color: black;
   height: 90px;
}
nav ul li{
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;


}
.logo img{
    width: 85px;
}
.logo{
    display: flex;
    align-items: center;
    padding: 0 20;
    font-family: 'Alkatra', cursive;

}
.main{
    min-height: 32vw;
}

.bottom{
    /* background-color: rgb(1, 1, 45); */
    background-color: black;
    height: 140px;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 10px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}